@charset "UTF-8";

*{
    box-sizing: border-box;
}

.character{
    margin-top: 75px;
}

.character-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #f5a33b;

    text-shadow: 1px 2px 3px #000;

    text-align: center;
}

.character-container{
    margin: 50px auto 75px;
}

.character-index-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.index-list{
    list-style: none;

    padding-left: 0;
}

.index-list-item{
    text-align: center;
}

.index-list-item img{
    width: 50%;

    cursor: pointer;
}

.character-slide-container{
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.character-slide-container img{
    width: 75%;
}

.slide-button-prev,.slide-button-next{
    font-size: 50px;
    font-weight: bold;
    color: blue;

    text-shadow: 5px 7px 12px #000;

    padding: 17px;

    cursor: pointer;
}